// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

$text-1: "Raleway";
$text-2: "Quintessential";

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here

header {
    margin-bottom:20px;
    padding-bottom:40px;
}

.bg {
    height:700px;
    background-image:url('../images/bgconcorde.jpeg');
    background-size:cover;
    text-align: left;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.concorde {
    height:51px;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    padding-left:40px;
    padding-right:40px;
    text-align:center;
    font-size: 47px;
    letter-spacing: 12px;
    }

.bycl {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 5px;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    text-align:center;
    }

.content {
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
    max-width: 710px;
    font-size: 19px;
}

.container {
   // margin: 0 199px 0 199px;
    //padding: 0 15px 0 15px;
    //max-width: 710px;
    //font-size: 19px;
    }

.preamble {
    font-style: italic;
    text-align: center;
    margin: 0 auto 16px auto;
    font-family:"Quintessential";
    
}

.list {
    margin: 1em 0 1em 0;
    padding: 40px 0 0 40px;

    li {
        text-align:justify;
        margin-bottom:15px;
        font-size: 19px;
        font-family: $text-1;
        font-weight: 400;
        line-height:27px;
    }
}