// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

$text-1: "Raleway";
$text-2: "Quintessential";


// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here

header {
    margin-bottom:20px;
    padding-bottom:40px;
}

.bg {
    height:700px;
    background-image:url('../images/bgconcorde.jpeg');
    background-size:cover;
    text-align: left;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.fixed-nav {
    position: fixed;
    text-decoration: none;
    z-index: 1;
    float:left;
    background-size:cover;
    
    img {
        margin: 11px;
        padding: 8px 10px;
        opacity: .9;
        display: inline-block;
        background-color: #000;
    }
}

.concorde {
    height:51px;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    padding-left:40px;
    padding-right:40px;
    text-align:center;
    font-size: 47px;
    letter-spacing: 12px;
    }

.bycl {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 5px;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    text-align:center;
    }

.content {
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;
    max-width: 710px;
    font-size: 19px;

    h2 {
        font-size: 13px;
        line-height: 30px;
        letter-spacing: 5px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.container {
   // margin: 0 199px 0 199px;
    //padding: 0 15px 0 15px;
    //max-width: 710px;
    //font-size: 19px;
    }

.preamble {
    font-style: italic;
    text-align: center;
    margin: 0 auto 16px auto;
    font-family:"Quintessential";
    
}

.list {
    margin: 1em 0 1em 0;
    padding: 40px 0 0 40px;
    width:680px;

    li {
        text-align:justify;
        margin-bottom:15px;
        font-size: 19px;
        font-family: $text-1;
        font-weight: 400;
        line-height:27px;
        
    }
}

.divider {
    text-align:center;
    margin: 0 auto 0 auto;
    content:fill;
    width:1em;
}

#well {
    min-height: 20px;
    padding: 19px;
    margin: 15px 0 20px 0;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;

    img {
        content:fill;
        max-height:80px;
        max-width:80px;
        float:left;
        margin-right:20px;
        border-radius: 6px;
    }

    &after{
        clear:both;
    }

   
}

.content {
    margin-top:7px;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
}

.tags {
    text-align: center;
    font-variant: small-caps;
    margin-bottom: 0;
    text-transform: lowercase;
}

#comments {
    list-style: none;
    margin: 40px 0 10px 0;
    padding: 25px 0 13px 0;

    li {
        border-top: 1px dotted;
        padding: 25px 0 13px 0;
    }

    .name {
        text-align:right;
        margin: 10px 0 10px 0;  
    }
}