// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here

.bg {
    height:700px;
    background-image:url('../images/bgconcorde.jpeg');
    background-size:cover;
    text-align: left;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.concorde {
    height:51px;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    padding-left:40px;
    padding-right:40px;
    text-align:center;
    font-size: 47px;
    letter-spacing: 12px;
    }

    .bycl {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 5px;
    height:51px;
    color: #333;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 10px auto;
    text-align:center;
    }
